%h3
  New Genus

%form{:id => 'subfam_form', :method => 'post'}
  Subfamily:
  %select{:id => 'subfam_select', :name => 'subfam_select'}
    = options_for_select(1, get_subfamilies)

= haml_partial :"admin/partials/_new_edit", :locals => { :link => @link, :var => @var, :edit => false }
