#sidebar
  %p
    %a.all{:href => "/admin/subfamily"}
      Subfamilies
      %a.new{:href => "/admin/subfamily/new"}
        new
  %p
    %a.all{:href => "/admin/genus"}
      Genuses
      %a.new{:href => "/admin/genus/new"}
        new
  %p
    %a.all{:href => "/admin/species"}
      Species
      %a.new{:href => "/admin/species/new"}
        new
