%h3
  Current Subfamilies

#latin_list
  - @subfams.each_index do |i|
    - eyelink = sprintf('%02d', @subfams[i].id)
    .line
      .entry{:id => "e#{eyelink}"}
        %a{:href => "#"}
          = @subfams[i].name.capitalize
        %ul.none
          - @subfams[i].gens.each do |g|
            %li.subentry
              = g.name.capitalize
      = haml_partial "admin/partials/_controls", :locals => { :link => 'subfamily', :id => eyelink.to_i, :eyelink => eyelink }
