!!! XML
!!!
%html
  %head
    %title
      Mustelids
    %link{:type => "text/css", :rel => "stylesheet", :href => "/mustelid.css"}
    %script{:type => "text/javascript", :src => "/javascript/jquery.js"}
    %script{:type => "text/javascript", :src => "/javascript/mustelids.js"}

  %body
    %div#header
      %div#titles
        %ul#mainnav.basictab
          %li
            %a{:href => "#"}
              Home
          %li
            %a{:href => "#"}
              Browse
          %li
            %a{:href => "/admin/subfamily"}
              Admin
        %h5#pagetitle
          the mustelid website
        %h5#pagesubtitle
          administration
      %div#headmustelid
        %img{:src => '/images/header/badger.gif'}

    %br.clear

    %div#hlavni
      %div#vlevo
        = haml_partial "partials/#{@sidebar}"

      %div#vpravo
        %p
          %pre
            = flash[:notice]
        %p
          = yield
    
      %br.clear
