%h3
  New Species

%form{:id => 'gen_form', :method => 'post'}
  Subfamily:
  %span#subfam
    %select{:id => 'subfam_select', :name => 'subfam_select'}
      = options_for_select(1, get_subfamilies)
  Genus:
  %span#gen
    = haml_partial "partials/_genus", :locals => { :subfam_id => 1, :gen_id => nil }

= haml_partial "admin/partials/_new_edit", :locals => { :link => @link, :var => @var, :model => nil }

